/*@import url(http://fonts.googleapis.com/css?family=Droid+Serif);*/

/*Remove the underline for links*/
a:link, a:visited, a:active {
    text-decoration: none;
}

html { 
  background: url('image.jpeg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* Put your CSS here */
.ember-application {
    margin: 0px;
}

::-webkit-input-placeholder { 
   font-style: italic;
   color: rgba(200,200,200, 0.8);  
}
::-moz-placeholder { 
   font-style: italic;
   color: rgba(200,200,200, 0.8);                
} 
:-ms-input-placeholder { 
   font-style: italic;
   color: rgba(200,200,200, 0.8);  
} 
input:-moz-placeholder { 
   font-style: italic;
   color: rgba(200,200,200, 0.8);   
}

h2{
    font-family: 'Droid Serif', serif;
    /*font-family: 'Times New Roman';*/
    font-size:35px; 
    text-align: center;
    margin-bottom: 0px;
    margin-top: 30px;
    font-weight: 700;
}

p {
    font-family:"Calibri";
    font-size:20px;
    text-align: center;
    margin-top: 5px;
}

ul {
    text-align: center;
    list-style: none;
}

li {
    text-align: center;
    list-style: none;
}


.question{
    max-width: 80%;
    width: 400px;
    height: 325px;
    background-color: rgba(255, 255, 255, 0.95);
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    margin-top: 15%;
    padding-top: 1px; 
}



.questionInput{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    width: 70%;
    resize: none;
    border-color: #66d7bf;
    border-style: solid;
    user-select: none;
    padding-left: 10px;
}

.questionInput{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    width: 70%;
    resize: none;
    border-color: #66d7bf;
    border-style: solid;
    user-select: none;
    padding-left: 10px;
}

.questionBox{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    width: 70%;
    height: 60%;
    resize: none;
    border-color: #66d7bf;
    border-style: solid;
    user-select: none;
    padding-left: 10px;
    resize: none;
}

.loginButton{
    background-color:  #66d7bf;
    border-style: none;
    font-style: italic;
    font-family: 'Droid Serif', serif;
    color: rgba(255, 255, 255, 0.95);
    width: 80px;
    height: 25px;
    float: right;
    margin-top: 35px;
    margin-right: 13%;
}

.login{
    margin-top: 50px;
}

.register{
    padding-top: 1px;
    margin-top: 48px;
}

form{
  margin-top: 50px;  
}