<div class="actions">
        </div>

        <div class="question-stack">
            {{#each questionsothersask in controller}}
                
                    {{#view App.QuestionView contentBinding="this"}}
                         <p class = "questionParagraph" {{action 'answerquestion' questionsothersask}}> {{questionsothersask.qbody}} </p>
                    {{/view}}
                    
                    {{else}}
                         <span>There are no questions to answer</span>
            {{/each}}
  

        </div>
