            <div class="question-help">
                <span class="arrow"></span>
                <div class="textwrap">
                    {{textarea valueBinding="answerText"}}
                </div>
                <div class="btnwrap">
                    <button><i class="fa fa-paperclip"> </i> Attach Image</button>
                    <button {{action 'answer'}}><i class="fa fa-paperclip"> </i> Send</button>
                </div>
            </div>