
<p class = 'permissionsPrompt'>One last thing. The experience is so much better with desktop notifications (trust us!). Click 'Allow' to allow notifications or continue to the next page</p>

<div class = 'permissionBtnDiv'>
    <button {{action 'request'}} class = 'btn permissionBtn'>Allow</button>
    <button {{action 'skip'}} class = 'btn skipBtn'>Skip</button>
</div>