       <div class = 'helpContainer'>

            {{#if firstBody}}
                <p class = "tutorialBox">Hey {{firstname}}! Nice to meet you!</p>
            {{/if}}
            {{#if secondBody}}
                <p class = "tutorialBox"> Welcome to Cogo, here are a few hints to help you out!</p>
            {{/if}}
            {{#if thirdBody}}
                <p class = "tutorialBox">Lets get started...</p>
            {{/if}}
            {{#if fourthBody}}
                <p class = "tutorialBox">Awesome! The first thing we have to do before you can start sharing knowledge with your organisation is to enter in your areas of expertise. 
                 Add your first skill by typing it into the box and pressing enter.  </p>
            {{/if}}
            {{#if fifthBody}}
                <p class = "tutorialBox">Wow! See that?</p>
            {{/if}}
            {{#if sixthBody}}
                <p class = "tutorialBox">You added a skill to the list. Skills that are already in the organisation will appear in the box underneath.</p>
            {{/if}}    
            {{#if seventhBody}}
                <p class = "tutorialBox">Add at least 4 more skills, and we will be ready to go on</p>
            {{/if}}                 

        </div>