<div class="actions">
        </div>

        <div class="question-stack">
            {{#each question in controller}}
                
                    {{#view App.QuestionView contentBinding="this"}}
                        {{#link-to 'answer' question}} {{question.question}} {{/link-to}}
                    {{/view}}
                
            {{/each}}
            
            {{outlet}}

        </div>
