
       
        <div class="actions">
            <span>Ask Question</span>
            <span class='selected'>Solved (2)</span>
            <span>Unsolved</span>
        </div>

        <div class="question-stack">

                <p>(Q) ANSWER A QUESTION ASSHOLE</p>

            <div class="question-help">
                <span class="arrow"></span>
                <div class="textwrap">
                    <textarea></textarea>
                </div>
                <div class="btnwrap">
                    <button><i class="fa fa-paperclip"> </i> Attach Image</button>
                    <button><i class="fa fa-paperclip"> </i> Send</button>
                </div>
            </div>
        </div>


  <script>
$('.question-stack > p').on('click', function(e) {
    if (e.target !== this) return;
    $('.selected-question').removeClass('selected-question');
    if (!$('.question-help').is(":visible")) {
        $('.question-help').fadeIn('slow')
        $('.question-help textarea').autosize({append: "\n"}).text("(A) ");
    }
    $(this).addClass('selected-question');
    $('.question-help .arrow').css("top", $(this).position().top);
})
$('.lightbulb-help > a').on('click', function(e) {
    e.preventDefault();
    $('.lightbulb-help > div').fadeToggle('slow');
})
</script>