<div class="askquestion contenthide">
            <form class="form text-center">
                {{textarea class="form-control"  rows="3" placeholder="Enter your question here..." valueBinding = "question"}}
                {{input  class="form-control" type="text" placeholder="Enter expertise required to answer question here (e.g Social media marketing, Javascript)..." valueBinding="expertise"}}
                <button class='btn' {{action 'askquestion'}}>Submit Question</button>
            </form>
</div> 


