<div class="askquestion contenthide">
            <form class="form text-center">
                <textarea class="form-control" rows="3" placeholder="Enter your question here..."></textarea>
                <input class="form-control" type="text" placeholder="Enter expertise requierd to answer question here (e.g Social media marketing, Javascript)...">
                <button class='btn'>Submit Question</button>
            </form>
</div> 


