        
        <div class="actions">
            <span data-target='askquestion' class='selected'>Ask Question</span>
            <span data-target='solved'>Solved (2)</span>
            <span data-target='unsolved'>Unsolved</span>
        </div>

        {{outlet}}



