        <div class="lightbulb-help">
            <a href='#'>
                <i class="fa fa-lightbulb-o fa-3x" style="color: #2BB4A7"></i>
            </a>
            <div class="helptext">
                - Enter your expertise into the box below<br>
                - The input should autofill as you start typing.<br>
                - If there is no preset expertise, please enter it in the alternative box.<br>
                - A minimum of 5 is needed.<br>
            </div>
        </div>
        
        <div class="actions">
            <span>Ask Question</span>
            <span class='selected'>Solved (2)</span>
            <span>Unsolved</span>
        </div>

        <div class="question-stack">
            {{#each question in controller}}
                <p>(Q) {{question.question}}</p>
            {{/each}}
            <div class="question-help">
                <span class="arrow"></span>
                <div class="textwrap">
                    <textarea></textarea>
                </div>
                <div class="btnwrap">
                    <button><i class="fa fa-paperclip"> </i> Attach Image</button>
                    <button><i class="fa fa-paperclip"> </i> Send</button>
                </div>
            </div>
        </div>

