
{{view App.LightbulbhelperView}}

<div class="holder">
    <div class="mast">
        <h4>Expertise</h4>
    </div>
    <form class="form expertise">
        <div class="input-group"><input class="form-control" type="text" placeholder="Enter your expertise"><span class="input-group-addon"><img src='img/tickwhite.png'/></span></div>
        <a {{action 'submit'}} class='btn btnsmall pull-right'>Finish</a>
    </form>
</div>
