<div class="holder">
    <div class="mast login-mast">
    <img src='img/logogreensmal_.png'/>
    <h4>LOGIN</h4>
    </div>
    <form class="form">
        <input class="form-control" type="text" placeholder="Email">
        <input class="form-control" type="text" placeholder="Password">
        <a {{action 'login'}} class='btn btnsmall pull-right'>Enter</a>
    </form>
</div>