<body>
<div class='sidebar'>
    <h4>John Smith</h4>
    <ul class="nav nav-stacked">
        <li>{{#link-to 'ask'}}Ask Question{{/link-to}}<span></span></li>
        <li>{{#link-to 'answeraquestion'}}Answer A Question{{/link-to}}<span></span></li>
    </ul>
</div>
<div class='content-pane'>
    <div class='content'>
            
        {{view App.LightbulbhelperView}}    
        
        {{outlet}}
        
    </div>
</div>

</body>
