        <div class="actions">
            <span {{action 'ask'}} class='selected'>Ask Question</span>
            <span {{action 'solved'}}>Solved (2)</span>
            <span {{action 'unsolved'}}>Unsolved</span>
        </div>