<head>
<script src="js/libs/jquery-1.10.2.js"></script>
<script src="js/libs/jquery.autosize.min.js"></script>
</head>

<body>
<div class='sidebar'>
    <h4>John Smith</h4>
    <ul class="nav nav-stacked">
        <li>{{#link-to 'askaquestion'}}Ask Question{{/link-to}}<span>(3)</span></li>
        <li>{{#link-to 'answeraquestion'}}Answer A Question{{/link-to}}<span>(4)</span></li>
    </ul>
</div>
<div class='content-pane'>
    <div class='content'>

        {{outlet}}

    </div>
</div>

<script>
$('.question-stack > p').on('click', function(e) {
    if (e.target !== this) return;
    $('.selected-question').removeClass('selected-question');
    if (!$('.question-help').is(":visible")) {
        $('.question-help').fadeIn('slow')
        $('.question-help textarea').autosize({append: "\n"}).text("(A) ");
    }
    $(this).addClass('selected-question');
    $('.question-help .arrow').css("top", $(this).position().top);
})
$('.lightbulb-help > a').on('click', function(e) {
    e.preventDefault();
    $('.lightbulb-help > div').fadeToggle('slow');
})
</script>

</body>
