<div class = 'question-stack'>
    {{#view App.YourAnswersView contentBinding="this"}}
        <p class="solvedAnswersParagraph">{{question}}<p>
        <p class="solvedAnswersParagraph">{{abody}}<p>
    {{/view}}
</div>

           