        <div class="question-stack">
            {{#each solvedquestion in controller}}
            {{#view App.QuestionView contentBinding="this"}}
                   <p class = "questionParagraph" {{action 'toSolvedAnswer' solvedquestion}}>  {{solvedquestion.question}} </p>
            {{/view}}
            {{/each}}
        </div>
