            <div class="question-help">
                <span class="arrow"></span>
                <div class="textwrap">
                    {{textarea valueBinding="answerText"}}
                </div>
                <div class="btnwrap">
                    <button {{action 'answer'}}><img src='img/tickwhite.png'/> READ</button>
                </div>
            </div>