        <div class="question-stack">
            {{#each unsolvedquestion in controller}}
                {{#view App.QuestionView contentBinding="this"}}
                    {{#link-to 'solvedanswer' question}} {{unsolvedquestion.question}} {{/link-to}}
                {{/view}}
            {{/each}}
            
            {{outlet}}


        </div>