<body>
<div class='sidebar'>
    <h4></h4>

</div>
<div class='content-pane'>   
    <div class='loading-content'>
      
      <div class="loading">
        <img src="img/loading-gif_360.png"></img>
        <h3 class="loading-text">Loading...</h3>
      </div>
    
    </div>
</div>

</body>
